{% extends '../index.html' %}

{% block texto %}
<div class="text-center">
<h1>Acerca de nosotros</h1>
</div>
<div class="m-5">
    <p>Actualmente doy soporte a mas de 1000 
        equipos de usuarios en forma presencial y 
        remoto, reinstalando sus maquinas y 
        ayudandolos en los distintos programas que 
        utilizan a diario, ademas realizo el 
        mantenimiento de centrales telefonicas 
        analogicas en distintos hospitales de la 
        Ciudad de Buenos Aires.
    </p>
</div>
{% endblock  %}