{% extends '../index.html' %}

{% block texto %}
<div class="text-center">
<h1>Acerca de nosotros</h1>
</div>
<div class="m-5">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod iusto minus, ut voluptates ad beatae! Qui nisi nulla a, ut placeat nam culpa fuga ratione iusto, quisquam facilis laborum
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta explicabo quam exercitationem consectetur neque eveniet temporibus dolorum necessitatibus eum esse labore maxime ullam quae numquam, ipsa quas officiis nostrum repellendus.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Id neque recusandae expedita pariatur sunt voluptas blanditiis ab cupiditate amet. Vel voluptatem natus numquam quasi est eaque rerum, dolor eveniet laboriosam!
    </p>
</div>
{% endblock  %}