#header{
    background: rgb(99, 142, 89);
    text-decoration: none;
    color: white
}

.module h2, .module caption, .inline-group h2{
    background: rgb(99, 142, 89);
}
#content-related .module h2{
    background: rgb(99, 142, 89);
    color: white;
}

div.breadcrumbs{
    background: rgb(99, 142, 89);
    margin-top: 1px;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button{
    background: rgb(99, 142, 89);
}
.button.default, input[type=submit].default, .submit-row input.default{
    background: rgb(99, 142, 89);

}

:root{
    --selected-row: #c1e6eb;
    --header-color:
}